.top-nav-bar {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;

  .back-arrow {
    cursor: pointer;
    left: 15px;
    position: absolute;
    display: inline-block;
    border: solid black;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  .title {
    font-size: 14px;
    font-weight: 600;
    width: 100%;
  }
}