.home-page {
  .combine-element {
    position: relative;
    .combine-container {
      position: relative;
      z-index: 2;
    }

    .under-background {
      z-index: 1;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 5px;
      left: -15px;
      background-image: url('../../assets/background/bg2.png');
      background-size: 100% 100%;
    }
  }
}